{% extends "djforms/layout.html" %}

{% block body %}
<div class="py-4">
    <div id="container" class="container-fluid col-xl-6 col-lg-7 col-md-8">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" data-bs-toggle="tab"
                        id="edit" data-bs-target="#nav-edit" aria-controls="nav-edit"
                        type="button" role="tab" aria-selected="true">Edit</button>
                <button class="nav-link" data-bs-toggle="tab"
                        id="settings" data-bs-target="#nav-settings" aria-controls="nav-settings"
                        type="button" role="tab" aria-selected="false">Settings</button>
                <a class="nav-link" target="_blank" href="{% url 'respond' form.id %}">
                    <i class="bi bi-eye"></i>
                    Preview
                </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane show active" role="tabpanel" tabindex="0" id="nav-edit" aria-labelledby="nav-edit-tab">
                {% include 'partials/edit/backend/edit_tab.html' %}
            </div>

            <div class="tab-pane" role="tabpanel" tabindex="0" id="nav-settings" aria-labelledby="nav-settings-tab">
                {% include 'partials/edit/backend/settings_tab.html' %}
            </div>
        </div>
    </div>
</div>

{% include 'partials/edit/frontend/question.html' %}
{% include 'partials/edit/frontend/short_text.html' %}
{% include 'partials/edit/frontend/long_text.html' %}
{% include 'partials/edit/frontend/radio.html' %}
{% include 'partials/edit/frontend/radio_option.html' %}
{% include 'partials/edit/frontend/checkbox.html' %}
{% include 'partials/edit/frontend/checkbox_option.html' %}

{% include 'partials/shared/toast.html' %}

{% endblock %}

{% load static %}
{% block script %}
<script src="{% static 'js/edit/app.js' %}" type="module"></script>
{% endblock %}