{% extends "djforms/layout.html" %}
{% load bootstrap_alert %}

{% block body %}
<div class="py-4">
    <div id="container" class="container-fluid col-xl-6 col-lg-7 col-md-8">
        {% if not form.settings.is_open %}

        <h2 class="mb-4">Closed form</h2>
        <p>This form is no longer accepting responses.</p>

        {% elif form.settings.authenticated_response and not user.is_authenticated %}

        <h2 class="mb-4">Authentication required</h2>
        <p>Please sign in to respond to this form.</p>
        <a class="btn btn-primary my-3" href="{% url 'login' %}">Sign in</a>

        {% elif form.settings.authenticated_response and not form.settings.multiple_response and last_response %}

        <h2 class="mb-4">Already responded</h2>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Thank you!</h4>
            <p>You have already responded to this form at {{ last_response.created_at }}</p>
            <hr>
            <a class="alert-link" href="{% url 'response' last_response.id %}">View my response</a>
        </div>

        {% else %}

        <form id="form" method="post">{% csrf_token %}
            <div class="form-header mb-4">
                <h1>{{ form.title }}</h1>

                {% if form.description %}
                <p class="mt-4">{{ form.description }}</p>
                {% endif %}
            </div>

            <div class="mb-4">
                <label class="form-label" for="user">User</label>
                <input id="user" class="form-control mb-1"
                       type="text"
                       {% if form.settings.authenticated_response %}
                       value="{{ request.user.username }} ({{ request.user.email }})"
                       {% else %}
                       value="Anonymous"
                       {% endif %}
                       readonly disabled>
                <p class="text-secondary">
                    <i class="bi bi-info-circle"></i>
                    {% if form.settings.authenticated_response %}
                    <small>This form requires user authentication.</small>
                    {% else %}
                    <small>This form does not require user authentication.</small>
                    {% endif %}
                </p>
            </div>

            {% for question in form.questions.all|dictsort:'order' %}
            <div class="question question-{{ question.type|slugify }} {% if question.is_required %} question-required{% endif %} mb-4">
                <div class="question-text">
                    <p>{{ question.order }}. {{ question.text }}{% if question.is_required %}
                        <span class="text-danger">*</span>{% endif %}
                    </p>
                </div>

                <div class="question-answer">
                    {% if question.type == "SHORT_TEXT" %}
                    {% include 'partials/respond/short_text.html' %}
                    {% elif question.type == "LONG_TEXT" %}
                    {% include 'partials/respond/long_text.html' %}
                    {% elif question.type == "RADIO" %}
                    {% include 'partials/respond/radio.html' %}
                    {% elif question.type == "CHECKBOX" %}
                    {% include 'partials/respond/checkbox.html' %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            <div class="d-flex justify-content-between">
                <div>
                    <button class="btn btn-primary" type="submit">
                        <i class="bi bi-send"></i>
                        Submit
                    </button>
                    <button class="btn btn-outline-secondary" type="reset">
                        <i class="bi bi-eraser"></i>
                        Clear
                    </button>
                </div>
                {% if user.is_authenticated and form.created_by == user %}
                <a class="btn btn-outline-secondary" href="{% url 'edit' form.id %}">
                    <i class="bi bi-pencil"></i>
                    Edit
                </a>
                {% endif %}
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% load static %}
{% block script %}
<script src="{% static 'js/respond/respond.js' %}"></script>
{% endblock %}